{{#yield-styles}}
  <link rel="stylesheet" media="screen,print" type="text/css" href="/css/default.css" />
{{/yield-styles}}

<div class='pop' style='display:block' id='start'><div class='popinner'>
  <h2>Välkommen till skattjakten!</h2>
  <h3>Klicka på ditt namn</h3>
  <p>&nbsp;</p>
  <p><a href='/jakt/?p=Freja' onfocus='this.blur()'>Freja</a></p>
  <p><a href='/jakt/?p=Selma' onfocus='this.blur()'>Selma</a></p>
  <p><a href='/jakt/?p=Ella' onfocus='this.blur()'>Ella</a></p>
  <div id='tomte1'><img src='/gfx/tomte_01.png' /></div>
</div></div>
