{{#yield-styles}}
  <link rel="stylesheet" type="text/css" href="/css/csshake.min.css" />
{{/yield-styles}}
{{#yield-scripts}}
  <script type='text/javascript' src='/js/default.js'></script>
  <script type="text/javascript">var person='{{person}}';</script>
{{/yield-scripts}}

<div class='pop start'><div class='popinner'>
  <div id='tomte1'><img src='/gfx/tomte_03.png' /></div>
  <h2>God jul {{person}}!</h2>
  <h3>
    Lös frågorna, skriv in svaren och klicka dig vidare.<br />
    Lycka till!
  </h3>
  <p>&nbsp;</p>
  <p><a class='start button'>Starta jakten</a></p>
</div></div>

<div class='pop question' id='pop'>
  <div class='clap'><img src='/gfx/clap.gif' /></div>
  <div class='popinner'>
    <h2></h2>
    <h3></h3>
    <img class='qimg' />
    <p><input class="answer" type='text' /></p>
    <p><a class='button answer'>Svara</a></p>
    <div><img src='/gfx/tomte_04_right.png' /></div>
  </div>
</div>

<div class="pop final"><div class="popinner">
  <div id='tomte6'><img src='/gfx/tomte_03.png' /></div>
  <h2>God jul {{person}}!</h2>
  <h3 class="fintext"></h3>
  <div><img src='/gfx/tomte_01.png' /></div>
</div></div>


